html
	include head.pug
	head
		title #{title}
		script(src="scripts/script.js")
		link(
			rel="stylesheet"
			type="text/css"
			href="styles/style.css"
		)
	body
		div(class="jumbotron")
			h1 Hello World!
			p #{message}
			input(
				type="text"
				placeholder="ID"
			)